<!DOCTYPE html>
<html lang="en">
  <head
    data-user-token="<%= assigns[:user_token] %>"
    >
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Blog!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">
      <header class="header">
        <nav role="navigation">
          <ul class="nav nav-pills pull-right">
            <li><a href="https://github.com/shavit/Erlang-Blog-Example">Get Started</a></li>
          </ul>
        </nav>
        <span class="logo"></span>
      </header>

      <%= if get_flash(@conn, :info) do %>
        <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <% end %>
      <%= if get_flash(@conn, :error) do %>
        <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <% end %>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Blog Example</h5>
            <p class="grey-text text-lighten-4">Columns for footer contnet.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="">Link 1</a></li>
              <li><a class="grey-text text-lighten-3" href="">Link 2</a></li>
              <li><a class="grey-text text-lighten-3" href="">Link 3</a></li>
              <li><a class="grey-text text-lighten-3" href="">Link 4</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        &copy; <%= Ecto.DateTime.utc |> Map.fetch! :year  %>
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
      </div>
    </footer>
    <!-- /footer -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
