// @import "node_modules/materialize-css/dist/css/materialize.min.css";

html{
  background: yellow;
}
fieldset{
  border: 0
}

.widget{
  border-bottom: 2px solid #ccc;
  margin-bottom: 40px;
  padding-bottom: 40px;
}
